<h1 class="h1">Check-Ins-N-Dragons</h1>

<div class="container">

    <div class="row">

        <div class="col-6">

            <h1>Character Creation</h1>

            <form>

                <label for="charName">Enter Name</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="charName">
                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Race
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">

                        <li>
                            <a href="#">Human</a>
                        </li>
                        <li>
                            <a href="#">Elf</a>
                        </li>
                        <li>
                            <a href="#">Dwarf</a>
                        </li>
                        <li>
                            <a href="#">Halfling</a>
                        </li>

                    </ul>

                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Class
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">

                        <li>
                            <a href="#">Soldier</a>
                        </li>
                        <li>
                            <a href="#">Warden</a>
                        </li>
                        <li>
                            <a href="#">Ranger</a>
                        </li>
                        <li>
                            <a href="#">Invoker</a>
                        </li>
                        <li>
                            <a href="#">Vagabond</a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-6">

                <button class="btn btn-primary" id="enterCreation">Next</button>

            </div>

        </div>

    </form>

</div>

<script>

    // $(".dropdown-menu").on('click', 'li a', function () {
    //     $(this).parent().parent().siblings(".btn:first-child").html($(this).text() + ' <span class="caret"></span>');
    //     $(this).parent().parent().siblings(".btn:first-child").val($(this).text());
    // });

</script>
