<div class="row">

    <div class="col-6">

        <h1 class="h1">Check-Ins-N-Dragons</h1>

    </div>

    <div class="col-6">

        <a href="/logout" class="logout">Logout</a>

    </div>

</div>

<div class="row">

    <div class="col-6">

        <h1 class="h-1">{{name}}, Select A Location For Battle</h1>


    </div>

</div>

<div class="container" method="post" action="/location">

    <div class="row">

        <div class="col-6">

            <h1>Locator</h1>

            {{!--
            <p>Click the button to get your coordinates.</p>

            <button onclick="getLocation()">Try It</button>

            <p id="demo"></p> --}}

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary" id="locationBtn" href="/location">Location 1</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary" id="locationBtn">Location 2</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary" id="locationBtn">Location 3</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary" id="locationBtn">Location 4</button>

        </div>

    </div>

</div>