<h1 class="h1">Check-Ins-N-Dragons</h1>

<div class="container">

    <div class="row">

        <div class="col-6">

            <h1 style="color: white;">Create New User</h1>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email" id="email">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Password" id="password">
            </div>

            <button type="submit" class="btn btn-primary" id="create">Enter</button>

        </div>

    </div>

</div>