<div class="row">

    <div class="col-6">

        <h1 class="h1">Check-Ins-N-Dragons</h1>

    </div>

    <div class="col-6">

        <a href="/logout" class="logout">Logout</a>

    </div>

</div>

<div class="container" method="post">

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary" id="locationPage">Address</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary" id="locationPage">Item Shop</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary" href="/battle" id="locationPageLast">Battle!</button>


        </div>

    </div>

</div>