<h1 class="h1">Check-Ins-N-Dragons</h1>

<div class="container">

    <div class="row">

        <div class="col-6">

            <h1>Login</h1>

            <form id="signin" name="signin" method="post" action="signin">

                <p>{{loginError}}</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" id="email" name="email">
                </div>

                <div class="input-group">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary" id="login">Login</button>

                <p>New User? <a href="/signup" style="color: black; text-decoration: underline;">Create an account.</a>

            </form>

        </div>

    </div>

</div>