<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <title>Check-Ins-N-Dragons</title>

    <!-- Added link to the jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Added a link to Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">

</head>

<body>

    <h1 class="h1">Check-Ins-N-Dragons</h1>

    <div class="container">

        <div class="row">

            <div class="col-6">

                <h1>Login</h1>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" id="email">
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Password" id="password">
                </div>

                <button type="submit" class="btn btn-primary" id="login">Login</button>

                <button type="button" class="btn btn-danger" id="createUser">Create User</button>

            </div>

        </div>

    </div>


</div>
</body>

</html>