<h1 class="h1">Check-Ins-N-Dragons</h1>

<div class="container">

    <div class="row">

        <div class="col-6">

            <h1 style="color: white;">Create New User Account</h1>

            <form id="signup" name="signup" method="post" action="/signup">
                    
                <div class="input-group">
                    <input name="firstname" class="form-control" placeholder="First Name" type="text" />
                </div>
                <div class="input-group">
                    <input name="lastname" class="form-control" placeholder="Last Name" type="text" />
                </div>
                <div class="input-group">
                    <input type="text" name="email" class="form-control" placeholder="Email" id="email">
                </div>

                <div class="input-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" id="password">
                </div>

                <button type="submit" class="btn btn-primary" id="create">Sign Up</button>

            </form>

        </div>

    </div>

</div>