<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
<div class="giphy2"></div>

    <form id="signup" name="signup" method="post" action="/signup">
        <label for="firstname"><strong>Name</strong></label>
        <br>
        <input name="firstname" placeholder="First" type="text" />
        <input name="lastname" placeholder="Last" type="text" />
        <br><br>
        <label for="email"><strong>Email Address</strong></label>
        <br>
        <input class="text" name="email" type="email" />
        <br><br>
        <label for="password"><strong>Password</strong></label>
        <br>
        <input name="password" type="password" />
        <br><br>
        <input class="btn" type="submit" value="Sign Up" />
    </form>
 
</body>
 
</html>