<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email"><strong>Email Address</strong></label>
        <br>
        <input class="text" name="email" type="text" />
        <br><br>
        <label for="password"><strong>Password</strong></label>
        <br>
        <input name="password" type="password" />
        <br><br>
        <input class="btn" type="submit" value="Sign In" />
    </form>
 
</body>
 
</html>