<h1 class="h1">Check-Ins-N-Dragons</h1>

<div class="welcome-container">

    <h1>Welcome, {{username}}!</h1>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary btn-lg" id="checkIn">Check-In</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary btn-lg" id="charInfo">Character Info</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary btn-lg" id="settings">Settings</button>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <button type="button" class="btn btn-primary btn-lg" id="about">About</button>

        </div>

    </div>

</div>