body{
    text-align: center;
    background: url("../images/background2.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Yatra One', cursive;
}

.h1 {
    background: rgba(128, 128, 128, .7);
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

h1, label {
    text-align: center;
    color: white;
}

#enterCreation {
    margin: 20px 0 30px 0;
    width: 100px;
    height: 40px;
    padding: 10px;
}

.dropdown-toggle {
    margin-top: 20px;
}

.container {
    border: 2px solid white;
    width: 500px;
    /* height: 300px; */
    text-align: center;
    margin-top: 80px;
    background: rgba(128, 128, 128, .7);
    border-radius: 20px;    
}

input[type="text"] {
    position: relative;
    left: 148px;
    margin: 10px 0 10px 0;
}
