/* Login & Create User Page */

body{
    text-align: center;
    background: url("../images/dragon.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 500px;
    /* height: 700px; */
    border: 2px solid white;
    text-align: center;
    background: url("../images/dragon.jpg") no-repeat center center fixed;
    background-size: cover;

}

.container {
    width: 500px;
    /* height: 700px; */
    border: 2px solid white;
}

h1 {
    margin-top: 20px;
    color: white;
}

#login, #create {
    margin: 20px 0 30px 0;
    width: 100px;
    height: 40px;
    padding: 10px;
}

input[type="text"] {
    position: relative;
    left: 148px;
    margin: 10px 0 10px 0;
}

/* ============================== */

